################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tallan.QuickStart.Config
/obj
/bin/Debug/netcoreapp3.1
/Properties
